@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.nav {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 1;

	.nav-item {
		color: $color-title-second;

		&:hover {
			color: $color-line;
		}
	}

	&.is-sticky {
		padding: 25px 45px;
		background-color: #fff;
		box-shadow: rgb(206, 212, 218) 0px -5px 15px 0px;

		.nav-item {
			color: $color-title;

			&:hover {
				color: $color-line;
			}
		}
	}
}

.moon-spacing {
	letter-spacing: 0.3em;
}

.moon-spacing-1 {
	letter-spacing: 0.1em;
}

._fw-bold {
	font-weight: bold;
}

section.hero {
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 110px 0;
	background-color: #000;
	--overlay: rgba(11, 11, 13, 0.9);
	background-image: linear-gradient(var(--overlay),
		var(--overlay)),
		url($bg-image);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	.logo {
		max-width: 300px;
	}

	.about {
		margin-top: 50px;
		padding: 0 25px;
	}

	.arrow {
		position: absolute;
		bottom: 30px;
		width: 30px;
		height: 30px;
		transform: translateX(-50%);
		border: 1px solid #fff;
		border-radius: 100%;
	}
}

.service-box {
	position: relative;
	display: block;
	margin: 0 auto;
	max-width: 460px;

	.service-title {
		text-align: center;
		color: $color-title;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 40px;
		letter-spacing: 0.1em;
	}

	.service-line {
		position: absolute;
		top: 25%;
		left: 50%;
		width: 140px;
		height: 1px;
		transform: translateX(-50%);
		background-color: $color-line;
	}

	.service-text {
		text-align: center;
		color: $color-subtitle-second;
		font-size: 14px;
		font-weight: 400;
	}
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 320px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

section.contact {
	border-left: 2px solid $color-line;
	border-right: 2px solid $color-line;
}

.is-fade-0 {
	animation-duration: 1.5s;
}

.is-fade-1 {
	animation-duration: 3s;
}

.is-fade-2 {
	animation-duration: 4s;
}

.is-fade-3 {
	animation-duration: 4.5s;
}

.is-fade-4 {
	animation-duration: 5s;
}

.is-fade-5 {
	animation-duration: 7s;
}

@media (min-width: 576px) {
	.nav {
		display: block;
		padding: 25px 45px 0;
	}

	section.hero {
		padding: 0;
		.logo {
			margin-top: 100px;
			max-width: 280px;
		}
	}

	.service-box {
		.service-line {
			top: 40%;
		}
	}

	.container {
		max-width: 950px;
	}
}

@media (min-width: 768px) {
	section.hero {
		.logo {
			margin-top: 80px;
		}
		.about {
			margin-top: 100px;
		}
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 1170px;
	}
}
